@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Nunito", sans-serif;
}

button {
	background-color: transparent;
	border: none;
}

ul li {
	list-style: none;
}
